{% extends 'base.html.twig' %}

{% block title %}Usuario index{% endblock %}

{% block body %}
    <h1>Usuario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Dni</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Oficina</th>
                <th>Email</th>
                <th>Alta</th>
                <th>Baja</th>
                <th>Ult. Acceso</th>
                <th>Cant. Accesos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.roles ? usuario.roles|json_encode|replace({'ROLE_': '', '[': '', ']': '', '"':'', ',': ', ' }) : '' }}</td>
                <td>{{ usuario.dni }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.oficina }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.fechaAlta ? usuario.fechaAlta|date('d/m/Y') : '' }}</td>
                <td>{{ usuario.fechaBaja ? usuario.fechaBaja|date('d/m/Y') : '' }}</td>
                <td>{{ usuario.ultimoAcceso ? usuario.ultimoAcceso|date('d/m/Y') : '' }}</td>
                <td>{{ usuario.cantidadAccesos }}</td>
                <td>
                    <a href="{{ path('usuario_show', {'id': usuario.id}) }}">show</a>
                    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('usuario_new') }}">Create new</a>
{% endblock %}
