{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}

<div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label col-form-label-lg text-right ">ID Usuario:</label>
    <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext form-control-lg" id="id" placeholder="ID Usuario" value= "{{ usuario.id }}">
    </div>
    <label for="username" class="col-sm-2 col-form-label col-form-label-lg text-right">Usuario:</label>
    <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext form-control-lg" id="username" placeholder="Usuario" value= "{{ usuario.username }}">
    </div>
    <label for="apellido" class="col-sm-2 col-form-label col-form-label-lg text-right">Apellido:</label>
    <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext form-control-lg" id="apellido" placeholder="Apellido" value= "{{ usuario.apellido }}">
    </div>
    <label for="nombre" class="col-sm-2 col-form-label col-form-label-lg text-right">Nombre:</label>
    <div class="col-sm-3">
        <input type="text" readonly class="form-control-plaintext form-control-lg" id="nombre" placeholder="Nombre" value= "{{ usuario.nombre }}">
    </div>
    <label for="dni" class="col-sm-2 col-form-label col-form-label-lg text-right">DNI:</label>
    <div class="col-sm-3">
        <input type="text" readonly class="form-control-plaintext form-control-lg" id="dni" placeholder="DNI" value= "{{ usuario.dni }}">
    </div>
    <label for="email" class="col-sm-2 col-form-label col-form-label-lg text-right">Email:</label>
    <div class="col-sm-2">
        <input type="text" readonly class="form-control-plaintext form-control-lg" id="email" placeholder="Email" value= "{{ usuario.email }}" size="100" maxlength="100">
    </div>
</div>



    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ usuario.dni }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ usuario.apellido }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Fecha_alta</th>
                <td>{{ usuario.fechaAlta ? usuario.fechaAlta|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha_baja</th>
                <td>{{ usuario.fechaBaja ? usuario.fechaBaja|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ultimo_acceso</th>
                <td>{{ usuario.ultimoAcceso ? usuario.ultimoAcceso|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Cantidad_accesos</th>
                <td>{{ usuario.cantidadAccesos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('usuario_index') }}">back to list</a>

    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">edit</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
