{% extends 'base.html.twig' %}

{% block title %}Iniciar sesi칩n!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="flashes-messages alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">            
            Has iniciado sesi칩n como {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-4 col-md-0"></div>
        <div class="col-lg-4 col-md-12">
            <h1 class="h3 mb-3 mt-5 font-weight-normal">Por favor, inicie sesi칩n</h1>
            <label for="inputUsername">Usuario</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">Contrase침a</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary float-right m-3 shadow" type="submit">
                Iniciar
            </button>
        </div>
    </div>

</form>


{% endblock %}
