{# TODO: Ver como tratar variable HTML y Roles #}
{% extends 'base.html.twig' %}

{% block title %}Gesti贸n de Config{% endblock %}

{% block body %}
    <h1>Gesti贸n de Valores de Configuraci贸n</h1>
    <div class="top-listas">		
		{% if is_granted('ROLE_EDITOR') %}
			<div id="botonera-config" class="row" style="display: none;">
				<div class="col-12">
					<div class="float-right boton">
						<a class="btn btn-primary" href="{{ path('config_new') }}">Crear Nueva Configuraci贸n</a>
					</div>
				</div>
			</div>
		{% endif %}		
	</div>
	{{ include('components/_flashesMessages.html.twig') }}
	<div class="row">
		<div class="col-12">
			<div id="configList">
				<div class="d-flex justify-content-center">
					<div class="spinner-border m-5" role="status">
						<span class="sr-only">Cargando...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(function () {			
			var grillaConfig = $('#configList').initDataTables( {{ datatable_settings(datatable) }}, {
				dom: "B<'row' <'#busqueda.col-sm-4 text-left'f><'col-sm-8 text-right'i><'col-sm-12' tr>><'row' <'col-sm-6'l><'col-sm-6 text-right'p>>",
				buttons: [],
				searching: true,
				language: {
					"url": "{{ asset('build/static/traslation_dt_es.json') }}"
				}
			}).then(function (dtConfig) {
				dtConfig.on('init', function(settings, json) {
					$('#botonera-config').show();    
					$('#dt_filter input').attr("placeholder", "Clave, Valor");
				});
			});  			         		
        });
	</script>
{% endblock %}