{% extends 'base.html.twig' %}

{% block title %}Config index{% endblock %}

{% block body %}
    <h1>Config index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Clave</th>
                <th>Valor</th>
                <th>Contenido HTML</th>
                <th>Roles</th>
                {% if is_granted('ROLE_EDITOR') %}                 
                    <th>Accciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for config in configs %}
            <tr>
                <td>{{ config.id }}</td>
                <td>{{ config.clave }}</td>
                <td>{{ config.valor }}</td>
                <td>{{ config.html | length > 100 ? config.html | slice(0, 100) | raw : config.html}}
                    {{ config.html | length > 100 ? '...' : '' }}
                </td>
                <td>{{ config.roles ? config.roles|json_encode | replace({'ROLE_': '', '[': '', ']': '', '"':'', ',': ', ', '{': '', '}': '' }) : '' }}</td>
                {% if is_granted('ROLE_EDITOR') %} 
                    <td class="table-bordered table-secondary text-center d-print-none" style="width : 80px; background-color: rgb(245, 245, 245);">
                        <a href="{{ path('config_show', {'id': config.id}) }}" title="Ver"><i class="fas fa-eye"></i></a>
                        &nbsp;&nbsp;
                        <a href="{{ path('config_edit', {'id': config.id}) }}" title="Editar"><i class="fas fa-pen"></i></a>
                    </td>
                {% endif %}
                </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary float-right" href="{{ path('config_new') }}">Crear Nuevo Valor de Configuración</a>
{% endblock %}
