{{ form_start(form) }}
    {{ form_widget(form) }}
    <button tabindex="-1" class="btn btn-outline-secondary float-left shadow" onclick="window.location.href = '{{ '/' }}'; return false;">{{ button_label|default('Cancelar') }}</button>
    <button class="btn btn-primary float-right shadow">{{ button_label|default('Continuar') }}</button>
{{ form_end(form) }}
