{% extends 'base.html.twig' %}

{% block title %}Solicitud de Turnos{% endblock %}

{% block body %}
    <div class="row mt-3 mb-5">
        <div class="col-3"><img src="{{asset('images/logo.png')}}" class="rounded float-left" alt="Poder Judicial" height="85"></div>
        <div class="col-6">
            <h1>{% trans %}Solicitud de Turnos{% endtrans %}</h1>
            <h2>Datos del Solicitante</h2>
        </div>
        <div class="col-3"></div>
    </div>
    <h6 class="float-right">Paso 1/4</h6>

    {{ include('persona/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if ({{organismo}}) {
                $.ajax({
                    url:"/TurnosWeb/organismos",
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        if (Array.isArray(data) && data.length) {
                            $('#persona_organismo').html('');
                            $.each(data,function(key, registro) {
                                if (registro.id == {{ organismo }}) {
                                    $("#persona_organismo").append('<option value='+registro.id+' selected>'+registro.organismo+'</option>');
                                } else {
                                    $("#persona_organismo").append('<option value='+registro.id+'>'+registro.organismo+'</option>');
                                }
                            })
                            $('#persona_organismo').change()
                        } else {
                            $('#persona_organismo').html('<option value="" disabled selected>Ningún Organismo</option>');
                        }
                    }
                })
            }

            $('#persona_organismo').change(function() {
                $.ajax({
                    url:"/TurnosWeb/datosUltimoTurnoPersona/" + $("#persona_organismo").val(), 
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        if (JSON.stringify(data) !== "[]") {
                            $('#persona_apellido').val(data['apellido']);
                            $('#persona_nombre').val(data['nombre']);
                            $('#persona_email').val(data['email']);
                            $('#persona_telefono').val(data['telefono']);
                        } else {
                            $('#persona_apellido').val('');
                            $('#persona_nombre').val('');
                            $('#persona_email').val('');
                            $('#persona_telefono').val('');
                        }
                    }
                })
            })
        });

    </script>
{% endblock %}
