<form action="{{'turno'}}" method="POST">
    <div class="card border-primary mb-3 float-left shadow" style="max-width: 18rem; margin-right:1rem; padding: 0.3rem 0.3rem 0.3em 0.3rem; line-height: 0.5cm;">
        <label id="lblMomento" class="required"><strong>Momento</strong></label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="filterMoment" id="optMomento1" value="1" onchange="this.form.submit()" {{ (filtroMomento == 1) ? 'checked' : '' }} {{ (filtroEstado == 3) ? 'disabledddd' : '' }}>
            <label class="form-check-label" for="optMomento1">Turnos pasados</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="filterMoment" id="optMomento2" value="2" onchange="this.form.submit()" {{ (filtroMomento == 2) ? 'checked' : '' }}>
            <label class="form-check-label" for="optMomento2">Turnos del día de hoy</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="filterMoment" id="optMomento3" value="3" onchange="this.form.submit()" {{ (filtroMomento == 3) ? 'checked' : ''}}>
            <label class="form-check-label" for="optMomento3">Turnos Futuros</label>
        </div>
    </div>
    <div class="card border-primary mb-3 float-left shadow" style="max-width: 18rem; margin-right:1rem; padding: 0.3rem 0.3rem 0.3em 0.3rem; line-height: 0.5cm;">
        <label id="lblTurno" class="required"><strong>Característica del Turno</strong></label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="filterState" id="optEstado1" value="1" onchange="this.form.submit()" {{ (filtroEstado == 1) ? 'checked' : '' }}>
            <label class="form-check-label" for="optEstado1">{% trans %}Sin Atender{% endtrans %}</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="filterState" id="optEstado2" value="2" onchange="this.form.submit()" {{ (filtroEstado == 2) ? 'checked' : '' }}>
            <label class="form-check-label" for="optEstado2">{% trans %}Atendidos{% endtrans %}</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="filterState" id="optEstado3" value="9" onchange="this.form.submit()" {{ (filtroEstado == 9) ? 'checked' : ''}} {{ (filtroMomento == 1) ? 'disableddddd' : '' }}>
            <label class="form-check-label" for="optEstado3">Todos</label>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AUDITORIA_GESTION') %}
        <div class="card border-primary mb-3 float-left d-print-none shadow" style="max-width: 28rem; margin-right:1rem; padding: 0.3rem 0.3rem 0.3em 0.3rem; line-height: 0.5cm;">
            <div id="turno3">
                <div class="form-group">
                    <div class="form-group">
                        <label for="cboOficina"><strong>Oficina</strong></label>
                        <select id="cboOficina" name="cboOficina" class="form-control" onchange="this.form.submit();">
                            <option value="" selected>Todas</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</form>
