<h2>Su turno ha sido confirmado</h2>

<p>Estimado/a: {{ turno.persona.apellido }}, {{ turno.persona.nombre }} mediante este correo le informamos que su turno ha sido confirmado con los siguientes datos:</p>

<p><strong>Oficina: </strong>{{ turno.oficina.oficina }} - {{ turno.oficina.localidad.localidad }} (Poder Judicial de Santa Fe)</p>

<p><strong>Motivo: </strong>{{ turno.motivo }}</p>

<p><strong>DNI: </strong>{{ turno.persona.dni }}</p>

<p><strong>Correo Electrónico: </strong>{{ turno.persona.email }}</p>

<p><strong>Teléfono de Contacto: </strong>{{ turno.persona.telefono }}</p>

<p><strong>Fecha: </strong><strong>{{ turno.fechaHora |date('d/m/Y') }}</strong> a las <strong>{{ turno.fechaHora |date('H:i')}}hs.</strong></p>

<br>

<p>Podrá cancelar este turno ingresando a la siguiente dirección: <a  href="{{urlCancelacion}}">{{urlCancelacion}}</a></p>

