{% extends 'base.html.twig' %}

{% block title %}Lista de Turnos{% endblock %}

{% block body %}
    {# Los siguients 2 div's se utilizan para trasladar a JavaScrip si el usuario tienen rol de Admin o de Auditoria_Gestion 
       Ref.: https://symfony.com/doc/current/frontend/encore/server-data.html
    #}
    <div class="js-role-admin" data-is-authenticated="{{ is_granted('ROLE_ADMIN') ? true : false }}"></div>
    <div class="js-role-auditoria_gestion" data-is-authenticated="{{ is_granted('ROLE_AUDITORIA_GESTION') ? true : false }}"></div>


    <div class="row">
        <div id="porcentajeAgendaAsignada" class="col col-3 text-left blockquote-footer">
            Agenda Asignada:
            <div id="spinner" class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Calculando...</span>
            </div>
        </div>
        <div class="col col-6 text-center">
            <h1>Lista de Turnos</h1>    
        </div>
        <div class="col col-3 text-right">
            <a href="{{path('turno_barcode')}}" title="Escanear Código del Turno" class="d-print-none"><i class="fas fa-barcode fa-lg"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{path('turno_index')}}" title="Actualizar Lista" class="d-print-none"><i class="fas fa-sync-alt"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="window.print()" title="Imprimir Lista" class="d-print-none"><i class="fas fa-print fa-lg"></i></a>
        </div>
    </div>

    <br>

    <span class="iconify" data-icon="fa-brands:symfony" data-inline="false"></span>

    {{ include('turno/_filters_form.html.twig') }}

    <div class="card border-primary mb-3 align-bottom float-right" style="max-width: 18rem; font-size: .8rem; background-color: rgb(245, 245, 245);">
        <div class="card-body border-primary text-dark float-right" style="max-width: 18rem; padding: 0.3rem; background-color: rgb(245, 245, 245);">
            <div class="card-body text-dark" style="font-size: 1rem;">
                Cantidad de Turnos:
                <strong>{{ turnos.getTotalItemCount }}</strong>
            </div>
        </div>
    </div>
    
        {# Muestra mensajes de tipo flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="row mt-3">
                    <div class="col-12"></div>
                    <div class="col-12 text-center">
                        <div class="alert alert-{{ label }}">{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

    <table class="table table-hover">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AUDITORIA_GESTION') %}
                    <th>Oficina</th>
                {% endif %}
                <th>Fecha y Hora</th>
                <th>Persona</th>
                <th>DNI</th>
                <th>Motivo</th>
                <th class="text-center">Estado</th>
                {% if is_granted('ROLE_EDITOR') %} 
                    <th class="table-bordered table-secondary text-center d-print-none" style="background-color: rgb(245, 245, 245);">Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% set cant = 0 %}
            {% for turno in turnos %}
                {% set cant = cant + 1 %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AUDITORIA_GESTION') %}
                        <td>{{ turno.oficina }}</td>
                    {% endif %}
                    <td>{{ turno.fechaHora ? turno.fechaHora|date('d/m/Y H:i') : '' }}</td>
                    <td {# Armo el tooltip considerando si existe persona vinculada al turno y si la persona registró el teléfono #}
                        {% if turno.persona is not null and turno.persona != '' and turno.persona.telefono is not null and turno.persona.telefono != ''%}
                            title="Correo:  {{ turno.persona.email }}. Tel. Contacto: {{ turno.persona.telefono }}"
                        {% elseif turno.persona is not null and turno.persona != '' and (turno.persona.telefono is null or turno.persona.telefono == '') %}
                                title="Correo:  {{ turno.persona.email }}"
                        {% endif %}
                    >
                        {{  turno.persona is null or turno.persona == '' ? '' : turno.persona.apellido ~ ', ' ~ turno.persona.nombre}}
                        
                    </td>
                    <td>{{ turno.persona is null or turno.persona == '' ? '' : turno.persona.dni }}</td>
                    <td>{{ turno.motivo }}</td>
                    <td class="text-center">{% if turno.persona is not null %}
                            {% if turno.estado == 1 %}          Sin Atender
                                {% elseif turno.estado == 2 %}  Atendido
                                {% elseif turno.estado == 3 %}  No Asistió
                                {% elseif turno.estado == 4 %}  Rechazado
                            {% endif %}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_EDITOR') %} 
                        <td class="text-center d-print-none" style="width:220px; background-color: rgb(245, 245, 245);">
                            <a href="{{ path('turno_show', {'id': turno.id}) }}" title="Ver">
                                <i class="fas fa-eye"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="{{ path('turno_edit', {'id': turno.id}) }}" title="Editar">
                                <i class="fas fa-pen"></i>
                            </a>
                            &nbsp;&nbsp;
                            {% if turno.persona is not null %}
                                {% if turno.estado == 1%}
                                    <a href="{{ path('turno_atendido', {'id': turno.id}) }}" title="Marcar como atendido"><i class="fas fa-user-check"></i></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{{ path('turno_no_asistido', {'id': turno.id}) }}" title="Marcar como Ausente"><i class="fas fa-user-slash text-danger"></i></a>
                                    &nbsp;
                                    <a href="{{ path('turno_rechazado', {'id': turno.id}) }}" title="Rechazar"><i class="fas fa-thumbs-down text-danger"></i></a>
                                {% elseif turno.estado == 2 %}
                                    <a href="{{ path('turno_atendido', {'id': turno.id}) }}" title="Marcar como NO atendido"><i class="fas fa-user-times"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No hay turnos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="float-right">
            {{ knp_pagination_render(turnos) }}
        </div>
        <div class="float-left blockquote-footer">
            Viendo {{ turnos.getTotalItemCount < 100 ? turnos.getTotalItemCount : 100 }} turnos de un total de {{ turnos.getTotalItemCount }} 
        </div>

    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $(document).ready(function () {
                // ¿Tiene rol de Admin?
                var roleAdmin = document.querySelector('.js-role-admin');
                var isRoleAdmin = roleAdmin.dataset.isAuthenticated;

                // ¿Tiene rol de Auditoría de Gestión?
                var roleAuditoriaGestion = document.querySelector('.js-role-auditoria_gestion');
                var isRoleAuditoriaGestion = roleAuditoriaGestion.dataset.isAuthenticated;

                var oficinaID = '{{ filtroOficina }}';

                getNivelOcupacionAgenda(oficinaID);

                // Procesa ocultamiento mensajes tipo flash
                $(".alert").delay(1000).slideUp(500);

                if (isRoleAdmin || isRoleAuditoriaGestion) {
                    // Armo lista de Oficinas para su selección por filtro
                    $.ajax({
                        url:"/TurnosWeb/oficinas",
                        method: "POST",
                        dataType: "json",
                        success: function(data) {
                            $('#cboOficina').html('');
                            $('#cboOficina').append('<option value="">Todas</option>');
                            $.each(data,function(key, registro) {
                                if (oficinaID != '' && registro.id == oficinaID ) {
                                    $("#cboOficina").append('<option value=' + registro.id +  ' selected>' + registro.oficina+'</option>');
                                } else {
                                    $("#cboOficina").append('<option value=' + registro.id +  '>' + registro.oficina+'</option>');
                                }
                            });   
                        }
                    })
                }                
            })

            function getNivelOcupacionAgenda(idOficina)
            {
                // Obtiene nivel de ocupación de la Agenda
                $.ajax({
                    url:"/TurnosWeb/ocupacionAgenda",
                    method: "POST",
                    data: {'oficina_id' : idOficina},
                    dataType: "json",
                    success: function(data) {
                        // Establece umbral de alerta (evaluar más adelante si no parametrizarlo)
                        if (data > 50) { 
                            $('#porcentajeAgendaAsignada').addClass('text-danger');
                        }
                        $('#porcentajeAgendaAsignada').html('Agenda Asignada: ' + data + '%');                                    
                    }
                })
            }

        });
    </script>  

{% endblock %}     
