{% extends 'base.html.twig' %}

{% block title %}Lista de Turnos{% endblock %}

{% block body %}
    <h1>Lista de Turnos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Oficina</th>
                <th>FechaHora</th>
                <th>Motivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for turno in turnos %}
            <tr>
                <td>{{ turno.id }}</td>
                <td>{{ turno.oficina }} ({{ turno.oficina.localidad }})</td>
                <td>{{ turno.fechaHora ? turno.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ turno.motivo }}</td>
                <td>
                    <a href="{{ path('turno_show', {'id': turno.id}) }}">Ver</a>
                    <a href="{{ path('turno_edit', {'id': turno.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('turno_new') }}">Crear Nuevo Turno</a>
{% endblock %}
