{% extends 'base.html.twig' %}

{% block title %}Lista de Turnos{% endblock %}

{% block body %}
    <div style="text-align:center;">
        <h1 style="display:inline;">Lista de Turnos</h1>
        <a onclick="window.print()" title="Imprimir Lista" style="display:inline; float:right">
            <i class="fas fa-print"></i>
        </a>
    </div>
    <span class="iconify" data-icon="fa-brands:symfony" data-inline="false"></span>
    <form action="{{'turno'}}" method="POST">
        <div class="card border-primary mb-3 float-left" style="max-width: 18rem; margin-right:1rem; padding: 0.3rem 4rem 0.3em 0.3rem; line-height: 0.5cm;">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filterMoment" id="optMomento1" value="1" onchange="this.form.submit()" {{ (filtroMomento == 1) ? 'checked' : '' }} {{ (filtroEstado == 3) ? 'disabled' : '' }}>
                <label class="form-check-label" for="optMomento1">Pasado</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filterMoment" id="optMomento2" value="2" onchange="this.form.submit()" {{ (filtroMomento == 2) ? 'checked' : '' }}>
                <label class="form-check-label" for="optMomento2">Hoy</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filterMoment" id="optMomento3" value="3" onchange="this.form.submit()" {{ (filtroMomento == 3) ? 'checked' : ''}}>
                <label class="form-check-label" for="optMomento3">Futuro</label>
            </div>
        </div>
        <div class="card border-primary mb-3 float-left" style="max-width: 18rem; margin-right:1rem; padding: 0.3rem 4rem 0.3em 0.3rem; line-height: 0.5cm;">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filterState" id="optEstado1" value="1" onchange="this.form.submit()" {{ (filtroEstado == 1) ? 'checked' : '' }}>
                <label class="form-check-label" for="optEstado1">Sin Atender</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filterState" id="optEstado2" value="2" onchange="this.form.submit()" {{ (filtroEstado == 2) ? 'checked' : '' }}>
                <label class="form-check-label" for="optEstado2">Atendidos</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filterState" id="optEstado3" value="3" onchange="this.form.submit()" {{ (filtroEstado == 3) ? 'checked' : ''}} {{ (filtroMomento == 1) ? 'disabled' : '' }}>
                <label class="form-check-label" for="optEstado3">Todos</label>
            </div>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Oficina</th>
                {% endif %}
                <th>Fecha y Hora</th>
                <th>Persona</th>
                <th>Motivo</th>
                <th class="table-bordered table-secondary text-center d-print-none" style="background-color: rgb(245, 245, 245);">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% set cant = 0 %}
            {% for turno in turnos %}
                {% set cant = cant + 1 %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ turno.oficina }}</td>
                    {% endif %}
                    <td>{{ turno.fechaHora ? turno.fechaHora|date('d/m/Y H:i') : '' }}</td>
                    <td>

                        {{ turno.persona is null or turno.persona == '' ? '' : turno.persona.apellido ~ ', ' ~ turno.persona.nombre}}
                    </td>
                    <td>{{ turno.motivo }}</td>
                    <td class="table-bordered table-secondary text-center d-print-none" width="140px" style="background-color: rgb(245, 245, 245);">
                        <a href="{{ path('turno_show', {'id': turno.id}) }}" title="Ver">
                            <i class="fas fa-eye"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a href="{{ path('turno_edit', {'id': turno.id}) }}" title="Editar">
                            <i class="fas fa-pen"></i>
                        </a>
                        &nbsp;&nbsp;
                        {% if turno.persona is not null%}
                            <a href="{{ path('turno_atendido', {'id': turno.id}) }}" title="Marcar como atendido">
                                <i class="fas fa-check"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay turnos</td>
                </tr>
            {% endfor %}
            <div class="card border-primary mb-3 align-bottom float-right" style="max-width: 18rem; font-size: .8rem; background-color: rgb(245, 245, 245);">
                <div class="card-body border-primary text-dark float-right" style="max-width: 18rem; padding: 0.3rem; background-color: rgb(245, 245, 245);">
                    <div class="card-body text-dark" style="font-size: 1rem;">
                        Cantidad de Turnos:
                        <strong>{{ cant }}</strong>
                    </div>
                </div>

            </tbody>
        </table>

    {% endblock %}