{% extends 'base.html.twig' %}

{% block title %}Nuevo Turno{% endblock %}

{% block body %}
    <div class="js-sistema-mpe" data-is-authenticated="{{ SistemaTurnosMPE ? 'true' : 'false' }}"></div>

    <div class="row mt-3 mb-5">
        <div class="col-3"><img src="{{asset('images/logo.png')}}" class="rounded float-left" alt="Poder Judicial" height="85"></div>
        <div class="col-6">
            <h1>{% trans %}Solicitud de Turnos{% endtrans %}</h1>
            <h2>Selección de Organismo</h2>
        </div>
        <div class="col-3"></div>
    </div>
    <h6 class="float-right">Paso 2/4</h6>

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {{ form_row(form.circunscripcion) }}
    {{ form_row(form.localidad) }}
    {{ form_row(form.oficina) }}
    
    {% if SistemaTurnosMPE %}
        <div id="tipo_causa" class="form-group">
            <label class="required" for="turno3_tipo_causa">Tipo de Causa</label>
            <select id="turno3_tipo_causa" autofocus="autofocus" class="form-control">
                <option value="1" selected="selected">Causa Nueva</option>
                <option value="2">Causa en Trámite - Sino recuerda que defensoría tiene asignada, llame al (0341) 4721700 interno 4250</option>
            </select>
            <small id="turno3_tipo_causa_help" class="form-text text-muted"></small>
        </div>
        <div id="defensorias" class="form-group">
            <label class="required" for="turno3_defensorias">Defensoría</label>
            <select id="turno3_defensorias" autofocus="autofocus" class="form-control"></select>
            <small id="turno3_defensorias_help" class="form-text text-muted"></small>
        </div>
    {% endif %}

    {{ form_row(form.motivo) }}

    {% if SistemaOralidadCivil %}
        {{ form_row(form.notebook) }}
        {{ form_row(form.zoom) }}
    {% endif %}
  
    <button tabindex="-1" class="btn btn-outline-secondary float-left" id="cancelar" onclick="window.location.href = '{{ '/' }}'; return false;">{{ button_label|default('Cancelar') }}</button>
    <button class="btn btn-primary float-right" id="confirmar">{{ button_label|default('Continuar') }}</button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var textoListaCircunscripcionVacia = '<option value="" disabled selected>Seleccione una Circunscripción</option>';
            var textoListaLocalidadVacia = '<option value="" disabled selected>Seleccione una Localidad</option>';
            var textoListaOficinaVacia = '<option value="" disabled selected>Seleccione una Oficina</option>';

            var sistema = document.querySelector('.js-sistema-mpe');
            var SistemaTurnosMPE = sistema.dataset.isAuthenticated;

            const textoRecordatorio = 'Recuerde que puede comunicarse al teléfono: ';

            $('#turno3_oficina_help').html('');
            $('#turno3_motivo_help').html('');

            $('#turno3_circunscripcion').change(function() {
                var circunscripcion_id = $(this).val();
                var localidad_id = $(this).val();
                if (circunscripcion_id) {
                    $.ajax({
                        url:"/TurnosWeb/localidades_habilitadas_circunscripcion/" + circunscripcion_id,
                        method: "POST",
                        dataType: "json",
                        success: function(data) {
                            if (Array.isArray(data) && data.length) {
                                $('#turno3_localidad').html('');
                                $('#turno3_localidad').append(textoListaLocalidadVacia);
                                $.each(data,function(key, registro) {
                                    $("#turno3_localidad").append('<option value='+registro.id+'>'+registro.localidad+'</option>');
                                });   
                            } else {
                                $('#turno3_localidad').html('<option value="" disabled selected>Ninguna Localidad Actualmente Disponible</option>');
                            }

                            // Limpio lista de Oficinas porque cambiaron
                            $('#turno3_oficina').html(textoListaOficinaVacia);

                            // Actualizo lista de Localidades
                            $('#turno3_localidad').change();

                            // Si esta en ejecución MPE y esta visible los combos adicionales para ello, los borro
                            if({{ SistemaTurnosMPE }}) {
                                $('#tipo_causa').hide();
                            }
                        }
                    })
                } else {
                    $('#turno3_localidad').html('');
                }
            });

            var defensoriasCiviles;
            $('#turno3_localidad').change(function() {
                var localidad_id = $(this).val();                
                if (localidad_id) {
                    // Diferencio la llamada ajax dependiendo del sistema que se esta ejecutando                    
                    if({{ SistemaTurnosMPE }}) {
                        
                        // Cuando el sistema es MPE cambio la llamada al servidor
                        $.ajax({
                            url:"/TurnosWeb/oficinasMPCivil_localidad/" + localidad_id,
                            method: "POST",
                            dataType: "json",
                            success: function(data) {                                
                                defensoriasCiviles = data;
                                if (Array.isArray(data) && data.length) {
                                    $('#turno3_oficina').html('');
                                    $('#turno3_oficina').append(textoListaOficinaVacia);
                                    $('#turno3_oficina').append('<option value='+data[0].id+'>'+ data[0].oficina +'</option>');
                                    $('#turno3_oficina').append('<option value=-1>Defensorías Civiles</option>');   
                                    $.each(defensoriasCiviles,function(key, registro) {
                                        if(key > 0) {
                                            $('#turno3_oficina').append('<option value='+registro.id+'>'+ registro.oficina +'</option>');
                                        }
                                    });      
                                    $('#turno3_oficina').children('option:gt(2)').hide();                     
                                } else {
                                    $('#turno3_oficina').html('<option value="" disabled selected>Ninguna Oficina Actualmente Disponible</option>');
                                }                           
                            }
                        });
                    } else {
                        $.ajax({
                            url:"/TurnosWeb/oficina_localidad/" + localidad_id,
                            method: "POST",
                            dataType: "json",
                            success: function(data) {
                                if (Array.isArray(data) && data.length) {
                                    $('#turno3_oficina').html('');
                                    $('#turno3_oficina').append(textoListaOficinaVacia);
                                    $.each(data,function(key, registro) {
                                        $("#turno3_oficina").append('<option value='+registro.id+'>'+registro.oficina+'</option>');
                                    });   
                                } else {
                                    $('#turno3_oficina').html('<option value="" disabled selected>Ninguna Oficina Actualmente Disponible</option>');
                                }                           
                            }
                        });
                    }                    
                } else {
                    $('#turno3_oficina').html('');
                }
            });

            if({{ SistemaTurnosMPE }}) {
                $('#turno3_oficina').change(function() {
                    var oficina_id = $(this).val();                
                    if (oficina_id) {
                        // Si seleccionó Ministerio Pupilar seteo el teléfono como helper y borro todo el div de tipo de causa
                        if(oficina_id == 1) {
                            $('#turno3_oficina_help').html(textoRecordatorio + defensoriasCiviles[0].telefono);
                            if($('#tipo_causa')) {
                                $('#tipo_causa').hide();
                            }
                            if($('#defensorias')) {
                                $('#defensorias').hide();
                            }
                        } else {   
                            $('#tipo_causa').show();
                            $('#turno3_oficina_help').html('');                         
                            // Si eligió Defensorías civiles, agrego un combo con dos elementos. CAUSA NUEVA ó CAUSA TRÁMITE
                            $('#turno3_tipo_causa_help').html(defensoriasCiviles[1].oficina + ' - ' + textoRecordatorio + defensoriasCiviles[1].telefono);
                                               
                        }
                    } else {
                        // Borro todo el div de tipo de causa
                        if($('#tipo_causa')) {
                            $('#tipo_causa').hide();
                        }
                    }
                });

                // Debido a que el selector turno3_tipo_causa es agregado dinámicamente rescato su cambio de la siguiente manera.
                $(document).on('change', '#turno3_tipo_causa', function() {
                    
                    var tipo_causa_id  = $(this).val();   
                    if (tipo_causa_id == 2) {
                        $('#turno3_tipo_causa_help').html('');
                        // Si eligió Causa en Trámite Despliego un combo con todas las defensorías disponibles
                        var comboDef;                        
                        $.each(defensoriasCiviles,function(key, registro) {
                            if(key > 1) {
                                comboDef += '<option value='+registro.id+'>'+registro.oficina+'</option>';
                            }
                        });
                        // Muestro el div de defensorías
                        $('#defensorias').show();
                        $('#turno3_defensorias').append(comboDef);
                        // Seteo el helper con la defensoría 1 (deafult)
                        $('#turno3_defensorias_help').html(textoRecordatorio + defensoriasCiviles[2].telefono); 
                        // Seteo el helper de motivo
                        $('#turno3_motivo_help').html('Especifique datos de la Causa (nombre de los autos, CUIJ, partes)'); 
                    } else {
                        // Si elegió causa nueva borro el div de defensorias
                        if($('#defensorias')) {
                            $('#defensorias').hide();
                        }
                        // Limpio el helper de motivo
                        $('#turno3_motivo_help').html('');

                        // Pongo el helper de Causa Nueva
                        $('#turno3_tipo_causa_help').html(defensoriasCiviles[1].oficina + ' - ' + textoRecordatorio + defensoriasCiviles[1].telefono);
                    }
                });

                // Debido a que el selector turno3_defensorias es agregado dinámicamente rescato su cambio de la siguiente manera.
                $(document).on('change', '#turno3_defensorias', function() {
                    var id_def = $(this).val();                    
                    $('#turno3_defensorias_help').html(textoRecordatorio + defensoriasCiviles[id_def-1].telefono);
                });

                // Intercepto el submit del form
                $('form[name="turno3"]').submit( function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    var formT3 = this;
                    // Seteo como oficina la que corresponda segun la elección del usuario
                    if($('#turno3_oficina option:selected').val() == -1) {
                        if($('#turno3_tipo_causa option:selected').val() == 1){
                            // Seteo como oficina a la OGD
                            $('#turno3_oficina option').eq(3).prop('selected', true);
                        } else {
                            // Seteo como oficina a la defensoría que corresponda                             
                            $('#turno3_oficina option').eq(parseInt($('#turno3_defensorias option:selected').val())+1).prop('selected', true);
                        }                        
                    }                    
                    formT3.submit();                    
                });
            }

            $('#tipo_causa').hide();
            $('#defensorias').hide();

            $('#turno3_localidad').html(textoListaLocalidadVacia);
            $('#turno3_oficina').html(textoListaOficinaVacia);
            $('#turno3_circunscripcion').val(2).change();

        });
    </script>  

{% endblock %}     
