{% extends 'base.html.twig' %}

{% block title %}Turno{% endblock %}

{% block body %}
    <h1>Turno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ turno.id }}</td>
            </tr>
            <tr>
                <th>FechaHora</th>
                <td>{{ turno.fechaHora ? turno.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td>{{ turno.motivo }}</td>
            </tr>
            {% if SistemaOralidadCivil %}
                <tr>
                    <th>Notebook:</th>
                    <td>{{ turno.notebook ? 'Si' : 'No'}}</td>
                </tr>
                <tr>
                    <th>Reunión Zoom</th>
                    <td>{{ turno.zoom ? 'Si' : 'No'}}</td>
                </tr>
            {% endif %}        
            <tr>
                <th>Estado</th>
                <td>{% if turno.persona is not null %}
                        {% if turno.estado == 1 %}          {% trans %}Sin Atender{% endtrans %}
                            {% elseif turno.estado == 2 %}  {% trans %}Atendido{% endtrans %}
                            {% elseif turno.estado == 3 %}  {% trans %}No Asistió{% endtrans %}
                            {% elseif turno.estado == 4 %}  {% trans %}Rechazado{% endtrans %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary float-left shadow volver" href="{{ path('turno_index') }}">Volver a la Lista</a>
    <a class="btn btn-secondary float-left shadow volver" href="{{ path('turno_edit', {'id': turno.id}) }}">Editar</a>
    {{ include('turno/_delete_form.html.twig') }}
{% endblock %}
