{% extends 'base.html.twig' %}

{% block title %}Nuevo Turno{% endblock %}

{% block body %}
    <div class="row mt-3 mb-5">
        <div class="col-3"><img src="{{asset('images/logo.png')}}" class="rounded float-left" alt="Poder Judicial" height="85"></div>
        <div class="col-6">
            <h1>{% trans %}Solicitud de Turnos{% endtrans %}</h1>
            <h2>Confirmación</h2>
        </div>
        <div class="col-3"></div>
    </div>
    <h6 class="float-right">Paso 4/4</h6>

    <br>
    <div class="card border-primary mb-3">
        <div class="card-header">Datos del Solicitante</div>
        <div class="card-body text-primary">
            {% if SistemaTurnosWeb or SistemaTurnosMPE %}
                <p class="card-text">DNI: <strong>{{ turno.persona.dni }}</strong></p>
                <p class="card-text">NOMBRE: <strong>{{ turno.persona.apellido }}, {{ turno.persona.nombre }}</strong></p>
            {% endif %}
            
            {% if SistemaOralidadCivil %}
                <p class="card-text">ORGANISMO: <strong>{{ turno.persona.dni }} - {{ turno.getPersona().getOrganismo() }}</strong></p>
                <p class="card-text">JUEZ: <strong>{{ turno.persona.apellido }} }}</strong></p>
                <p class="card-text">SECRETARIO: <strong>{{ turno.persona.nombre }}</strong></p>
            {% endif %}
            
            <p class="card-text">Correo Electrónico: <strong>{{ turno.persona.email }}</strong></p>
            <p class="card-text">Teléfono de Contacto: <strong>{{ turno.persona.telefono }}</strong></p>

        </div>
    </div>

    <div class="card border-primary mb-3">
        <div class="card-header">Oficina</div>
        <div class="card-body text-primary">
            <p class="card-text"><strong>{{ turno.oficina.oficina }} ({{ turno.oficina.localidad.localidad }})</strong></p>
        </div>
    </div>

    <div class="card border-primary mb-3">
        <div class="card-header">Datos del Turno</div>
        <div class="card-body text-primary">
            <p class="card-text">El turno seleccionado es para el día <strong>{{ turno.fechaHora |date('d/m/Y') }}</strong> a las <strong>{{ turno.fechaHora |date('H:i')}}hs</strong>.</p>
        </div>
    </div>

    <div class="alert alert-danger text-center" role="alert">
        <strong>Ups! El turno se ha ocupado en este instante. Por favor seleccione otro turno.</strong>
    </div>    

    {{ include('turno/_form.html.twig') }}

{#        <a href="#" id="ver">Listo?</a> #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $("#confirmar").html('Selecionar otro Turno')
        });
    </script>  
    
{% endblock %}     
        
