{% extends 'base.html.twig' %}

{% block title %}Estadística de Turnos{% endblock %}

{% block body %}
    <h1>Estadísticas de Turnos {{ oficina }} </h1>
    <h2>Período del {{desde}} al {{hasta}}</h2>
    <br>
    {# Resumen General #}
    {% if estadisticaGeneral | length > 0 %}
        <div class="container-fluid">
            <center>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card border-primary mb-3 shadow" style="max-width: 40rem;">
                            <div class="card-header"><strong>Resumen del Período {{desde}} al {{hasta}}</strong></div>
                            <div class="card-body text-primary">
                                <div class="row">
                                    <div class="col-sm-6 text-right">
                                        Turnos Disponibles:
                                        <br>
                                        Otorgados:
                                        <br>
                                        No Atendidos:
                                        <br>
                                        Atendidos:
                                        <br>
                                        Ausentes:
                                        <br>
                                        Rechazados:
                                        <br>
                                    </div>
                                    <div class="col-sm text-right">
                                        {{ estadisticaGeneral['total'] | number_format(0, ',', '.') }}
                                        <br>
                                        {{ (estadisticaGeneral['otorgados']) | number_format(0, ',', '.') }}
                                        <br>
                                        {{ estadisticaGeneral['noatendidos'] | number_format(0, ',', '.') }}
                                        <br>
                                        {{ estadisticaGeneral['atendidos'] | number_format(0, ',', '.') }}
                                        <br>
                                        {{ estadisticaGeneral['noasistidos'] | number_format(0, ',', '.') }}
                                        <br>
                                        {{ (estadisticaGeneral['rechazados_ocupados'] + estadisticaGeneral['rechazados_libres']) | number_format(0, ',', '.') }}
                                        <br>
                                    </div>
                                    <div class="col-sm-4 text-right" style="color:gray">
                                        &nbsp;
                                        <br>
                                        {{ ((estadisticaGeneral['otorgados'] ) / estadisticaGeneral['total'] * 100) | number_format(2, ',', '.') }}%
                                        <br>
                                        {{ estadisticaGeneral['noatendidos'] > 0 ? (estadisticaGeneral['noatendidos'] / estadisticaGeneral['otorgados'] * 100) | number_format(2, ',', '.') }}%
                                        <br>
                                        {{ estadisticaGeneral['atendidos'] > 0 ? (estadisticaGeneral['atendidos'] / (estadisticaGeneral['otorgados']) * 100)| number_format(2, ',', '.') }}%
                                        <br>
                                        {{ estadisticaGeneral['noasistidos'] > 0 ? (estadisticaGeneral['noasistidos'] / (estadisticaGeneral['otorgados']) * 100)| number_format(2, ',', '.') }}%
                                        <br>
                                        {{ estadisticaGeneral['rechazados_libres'] + estadisticaGeneral['rechazados_ocupados'] > 0 ? ((estadisticaGeneral['rechazados_libres'] + estadisticaGeneral['rechazados_ocupados']) / (estadisticaGeneral['otorgados'] ) * 100)| number_format(2, ',', '.') }}% 
                                    </div>
                                </div>
                            </div>

                            <center>
                            <div class="card bg-light mb-2" style="max-width: 30rem; font-size:.85rem">
                                <div class="card-header"><strong>Total de Rechazados: {{ (estadisticaGeneral['rechazados_ocupados'] + estadisticaGeneral['rechazados_libres']) | number_format(0, ',', '.')  }}</strong></div>
                                <div class="card-body text-primary">
                                    <div class="row">
                                        <div class="col-sm-6 text-right">   
                                            Vueltos a Ocupar:
                                            <br>
                                            Libres:
                                            <br><br>
                                            Cancelados por la Oficina:
                                            <br>
                                            Cancelados por el Solicitante:
                                        </div>
                                        <div class="col-sm text-right">
                                            {{ estadisticaGeneral['rechazados_ocupados'] | number_format(0, ',', '.')  }}
                                            <br>
                                            {{ estadisticaGeneral['rechazados_libres'] | number_format(0, ',', '.')  }}
                                            <br><br>
                                            {{ (estadisticaGeneral['rechazados_ocupados'] + estadisticaGeneral['rechazados_libres'] - estadisticaGeneral['cancelados_solicitante']) | number_format(0, ',', '.')  }}
                                            <br>
                                            {{ estadisticaGeneral['cancelados_solicitante'] | number_format(0, ',', '.')  }}
                                        </div>
        
                                            <div class="col-sm-4 text-right" style="color:gray">
    {#                                        {{ (estadisticaGeneral['noasistidos'] / estadisticaGeneral['otorgados'] * 100) | round(2)}}% #}
                                            <br>
    {#                                        {{ (estadisticaGeneral['rechazados_ocupados'] / estadisticaGeneral['otorgados'] * 100) | round(2)}}% #}
                                        </div>
                                </div>
                            </div>  
                            </center>
                        </div>
                    </div> 

                    <div class="col-lg-6 col-md-12 float-right jsChart" data-is-authenticated="{{ piechart | length > 0 ? 'true' : 'false' }}">
                        <div class="card border-primary mb-3 shadow" style="max-width: 60rem;">
                            <div class="card-header"><strong>Vista General del Período {{desde}} al {{hasta}}</strong></div>
                            <div class="card-body text-primary">
                                <center><div id="div_chart"></div></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    {% endif %}

    {% if estadisticaSemanal | length > 0 %}
    <div class="container-fluid">
        <div class="row">   
            {# Resumen Semanal #}
            <div class="col-12">
                <div class="card border-primary mb-3 shadow" style="max-width: 90rem;">
                    <div class="card-header"><strong>Vista Semanal de Turnos</strong></div>
                    <div class="card-body text-primary">
                        <table class="table table-hover table-bordered">
                            <thead>
                                {% if SistemaOralidadCivil %}
                                    <tr>
                                        <th class="text-center" rowspan="2">Desde</th>
                                        <th class="text-center" rowspan="2">Hasta</th>
                                        <th class="text-right"  rowspan="2">Disp.</th>
                                        <th class="text-center" colspan="3">Otorgados</th>
                                        <th class="text-center"  rowspan="2" colspan="2">No Atendidos</th>
                                        <th class="text-center"  rowspan="2"colspan="2">Atendidos</th>
                                        <th class="text-center"  rowspan="2"colspan="2">Ausentes</th>
                                        <th class="text-center"  rowspan="2"colspan="2">Rechazados</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="2">Total</th>
                                        <th class="text-right text-secondary"><small>Con Tecno.</small></th>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th class="text-center">Desde</th>
                                        <th class="text-center">Hasta</th>
                                        <th class="text-right">Disponibles</th>
                                        <th class="text-right" colspan="2">Otorgados</th>
                                        <th class="text-right" colspan="2">No Atendidos</th>
                                        <th class="text-right" colspan="2">Atendidos</th>
                                        <th class="text-right" colspan="2">Ausentes</th>
                                        <th class="text-right" colspan="2">Rechazados</th>
                                    </tr>
                                {% endif %}
                            </thead>
                            <tbody>
                        {% set semanas, turnos, otorgados, otorgados_tecno, noatendidos, atendidos, noasistidos, rechazados = 0, 0, 0, 0, 0, 0, 0, 0 %}
                        {% for semana in estadisticaSemanal %}
                            {% if SistemaOralidadCivil %}
                                {% set semanas, turnos, otorgados, otorgados_tecno, noatendidos, atendidos, noasistidos, rechazados = semanas + 1, turnos + semana['total']
                                , otorgados + semana['otorgados'], otorgados_tecno + semana['otorgados_tecno'], noatendidos + semana['noatendidos'], atendidos + semana['atendidos'], noasistidos + semana['noasistidos'], rechazados + semana['rechazados_ocupados'] + semana['rechazados_libres']
                                %}
                            {% else %}
                                {% set semanas, turnos, otorgados, noatendidos, atendidos, noasistidos, rechazados = semanas + 1, turnos + semana['total']
                                , otorgados + semana['otorgados'], noatendidos + semana['noatendidos'], atendidos + semana['atendidos'], noasistidos + semana['noasistidos'], rechazados + semana['rechazados_ocupados'] + semana['rechazados_libres']
                                %}
                            {% endif %}                     
                                <tr>
                                    <td class="text-center">{{ semana['desde'] | slice(0, 10)}}</td>
                                    <td class="text-center">{{ semana['hasta'] | slice(0, 10)}}</td>
                                    <td class="text-right">{{ semana['total'] }}</td>
                                    <td class="text-right">{{ semana['otorgados'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ (((semana['otorgados']) / semana['total']) * 100) | round(2) ~ '%)'}}</td>
                                    {% if SistemaOralidadCivil %}
                                            <td class="text-right text-secondary"><small>{{ semana['otorgados_tecno']}}</small></td>
                                    {% endif %}
                                    <td class="text-right">{{ semana['noatendidos'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ ((semana['noatendidos'] / (semana['otorgados']) * 100) | round(2)) ~ '%)'}}</td>
                                    <td class="text-right">{{ semana['atendidos'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ ((semana['atendidos'] / (semana['otorgados']) * 100) | round(2)) ~ '%)'}}</td>
                                    <td class="text-right">{{ semana['noasistidos'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ ((semana['noasistidos'] / (semana['otorgados']) * 100) | round(2)) ~ '%)'}}</td>
                                    <td class="text-right">{{ semana['rechazados_ocupados'] + semana['rechazados_libres'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ (((semana['rechazados_ocupados'] + semana['rechazados_libres']) / (semana['otorgados']) * 100) | round(2)) ~ '%)'}}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <td class="text-center" colspan="2"><b>Cant. de Semanas: {{semanas}}</b></td>
                            <td class="text-right"><b>{{turnos}}</b></td>
                            {% if SistemaOralidadCivil %}
                            <td class="text-right"><b>{{otorgados}}</td>
                                <td></td>
                                <td class="text-right"><b>{{otorgados_tecno}}</td>
                            {% else %}
                                <td class="text-right"><b>{{otorgados}}</td><td></td>
                            {% endif %}
                            <td class="text-right"><b>{{noatendidos}}</b></td><td></td>
                            <td class="text-right"><b>{{atendidos}}</b></td><td></td>
                            <td class="text-right"><b>{{noasistidos}}</b></td><td></td>
                            <td class="text-right"><b>{{rechazados}}</b></td><td></td>
                        </tfoot>
                        </table>                 
                    </div>
                </div> 
            </div>
        </div>
    </div>
    {% endif %}
  
    {% if estadisticaDiaria | length > 0 %}
        {# Resumen Diario #}   
        <div class="container-fluid"> 
            <div class="row">
                    <div class="col-12">
                    <div class="card border-primary mb-3 shadow">
                        <div class="card-header"><strong>Vista Detallada de Turnos</strong></div>
                        <div class="card-body text-primary">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    {% if SistemaOralidadCivil %}
                                        <tr>
                                            <th class="text-center" rowspan="2">Desde</th>
                                            <th class="text-center" rowspan="2">Hasta</th>
                                            <th class="text-right"  rowspan="2">Disp.</th>
                                            <th class="text-center" colspan="3">Otorgados</th>
                                            <th class="text-center"  rowspan="2" colspan="2">No Atendidos</th>
                                            <th class="text-center"  rowspan="2"colspan="2">Atendidos</th>
                                            <th class="text-center"  rowspan="2"colspan="2">Ausentes</th>
                                            <th class="text-center"  rowspan="2"colspan="2">Rechazados</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" colspan="2">Total</th>
                                            <th class="text-right text-secondary"><small>Con Tecno.</small></th>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <th class="text-center">Desde</th>
                                            <th class="text-center">Hasta</th>
                                            <th class="text-right">Disponibles</th>
                                            <th class="text-right" colspan="2">Otorgados</th>
                                            <th class="text-right" colspan="2">No Atendidos</th>
                                            <th class="text-right" colspan="2">Atendidos</th>
                                            <th class="text-right" colspan="2">Ausentes</th>
                                            <th class="text-right" colspan="2">Rechazados</th>
                                        </tr>
                                    {% endif %}
                                </thead>
                                <tbody>
                            {% set dias, turnos, otorgados, otorgados_tecno, noatendidos, atendidos, noasistidos, rechazados = 0, 0, 0, 0, 0, 0, 0, 0 %}
                            {% for dia in estadisticaDiaria %}
                                {% if SistemaOralidadCivil %}
                                    {% set dias, turnos, otorgados, otorgados_tecno, noatendidos, atendidos, noasistidos, rechazados = dias + 1, turnos + dia['total']
                                    , otorgados + dia['otorgados'], otorgados_tecno + dia['otorgados_tecno'], noatendidos + dia['noatendidos'], atendidos + dia['atendidos'], noasistidos + dia['noasistidos'], rechazados + dia['rechazados_ocupados'] + dia['rechazados_libres']
                                    %}
                                {% else %}
                                    {% set dias, turnos, otorgados, noatendidos, atendidos, noasistidos, rechazados = dias + 1, turnos + dia['total']
                                    , otorgados + dia['otorgados'], noatendidos + dia['noatendidos'], atendidos + dia['atendidos'], noasistidos + dia['noasistidos'], rechazados + dia['rechazados_ocupados'] + dia['rechazados_libres']
                                    %}
                                {% endif %}
                                    <tr>
                                        <td class="text-center">{{ dia['desde'] | slice(0, 10)}}</td>
                                        <td class="text-center">{{ dia['hasta'] | slice(0, 10)}}</td>
                                        <td class="text-right">{{ dia['total'] }}</td>
                                        <td class="text-right">{{ dia['otorgados'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ (((dia['otorgados']) / dia['total'] * 100) | round(2)) ~ '%)'}}</td>
                                        {% if SistemaOralidadCivil %}
                                            <td class="text-right text-secondary"><small>{{ dia['otorgados_tecno']}}</small></td>
                                        {% endif %}
                                        <td class="text-right">{{ dia['noatendidos'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ ((dia['noatendidos'] / (dia['otorgados'] ) * 100) | round(2)) ~ '%)'}}</td>
                                        <td class="text-right">{{ dia['atendidos'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ ((dia['atendidos'] / (dia['otorgados'] ) * 100) | round(2)) ~ '%)'}}</td>
                                        <td class="text-right">{{ dia['noasistidos'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ ((dia['noasistidos'] / (dia['otorgados'] ) * 100) | round(2)) ~ '%)'}}</td>
                                        <td class="text-right">{{ dia['rechazados_ocupados'] + dia['rechazados_libres'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ (((dia['rechazados_ocupados'] + dia['rechazados_libres']) / (dia['total'] ) * 100) | round(2)) ~ '%)'}}</td>
                                    </tr>
                            {% endfor %}
                                    <tr>
                                        <td class="text-center" colspan="2"><b>Cant. de Dias: {{dias}}</b></td>
                                        <td class="text-right"><b>{{turnos}}</b></td>
                                        {% if SistemaOralidadCivil %}
                                            <td class="text-right"><b>{{otorgados}}</td>
                                            <td></td>
                                            <td class="text-right"><b>{{otorgados_tecno}}</td>
                                        {% else %}
                                            <td class="text-right"><b>{{otorgados}}</td><td></td>
                                        {% endif %}
                                        <td class="text-right"><b>{{noatendidos}}</td><td></td>
                                        <td class="text-right"><b>{{atendidos}}</td><td></td>
                                        <td class="text-right"><b>{{noasistidos}}</td><td></td>
                                        <td class="text-right"><b>{{rechazados}}</td><td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    {% endif %}

    <br>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary float-left shadow volver" href="{{ path('estadistica_index') }}">Volver</a>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">{{ gc_draw(piechart, 'div_chart') }}</script>
{#

        document.addEventListener('DOMContentLoaded', function() {
            var jsChart = document.querySelector('.jsChart');
            var muestro = jsChart.dataset.isAuthenticated;

            if (muestro == true) {
                var head = document.getElementsByTagName('head')[0];
                var script = document.createElement('script');

                script.src = "https://www.gstatic.com/charts/loader.js"
                {{ gc_draw(piechart, 'div_chart') }}
            
            }

        });    
#}

{% endblock %}     
