{% extends 'base.html.twig' %}

{% block title %}Estadística de Turnos{% endblock %}

{% block body %}
    <h1>Oficinas Habilitadas / Deshabilitadas</h1>
    <h2>Circunscripción {{circunscripcion}}</h2>
    {% if subTituloExclusion %}
        <h6 class="text-center">{{ subTituloExclusion }}</h6>
    {% endif %}

    <br>
    {# Resumen General #}
    {% if vistaGeneral  %}
        <div class="container-fluid">
            <center>
                <div class="row">
                    <div class="col-lg-3 col-md-12"></div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card border-primary mb-3 shadow" style="max-width: 40rem;">
                            <div class="card-header"><strong>Resumen de Oficinas Habilitadas / Deshabilitdas</strong></div>
                            <div class="card-body text-primary">
                                <div class="row">
                                    <div class="col-sm-6 text-right">
                                        Cantidad de Oficinas:
                                        <br>
                                        Habilitadas:
                                        <br>
                                        Deshabilitadas:
                                        <br>
                                    </div>
                                    <div class="col-sm text-right">
                                        {{ ( (habilitadas | length) + (deshabilitadas | length) ) }}
                                        <br>
                                        {{ habilitadas | length }}
                                        <br>
                                        {{ deshabilitadas | length }}
                                        <br>
                                    </div>
                                    <div class="col-sm-4 text-right" style="color:gray">
                                        &nbsp;
                                        <br>                                        
                                        {{ (( habilitadas | length ) / ((habilitadas | length) + (deshabilitadas | length)) * 100) | number_format(2, ',', '.') }}%
                                        <br>
                                        {{ (( deshabilitadas | length )  / ((habilitadas | length) + (deshabilitadas | length)) * 100) | number_format(2, ',', '.') }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </center>
    {% endif %}
 
    {% if vistaHabilitadas %}
        {# Vista de Oficinas Habilitadas #}   
        <div class="container-fluid"> 
            <div class="row">
                    <div class="col-12">
                    <div class="card border-primary mb-3 shadow">
                        <div class="card-header"><strong>Oficinas Habilitadas</strong></div>
                        <div class="card-body text-primary">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="">Oficina</th>
                                        <th class="text-center">Localidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                            {% for oficina in habilitadas %}
                                    <tr>
                                        <td>{{ oficina['oficina'] }} </td>
                                        <td class="text-center">{{ oficina['localidad'] }} </td>
                                    </tr>
                            {% endfor %}
                                    <tr>
                                        <td class="text-center" colspan="2"><b>Cant. de Oficinas Habilitadas: {{habilitadas | length}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    {% endif %}

    {% if vistaDeshabilitadas %}
        {# Vista de Oficinas Deshabilitadas #}   
        <div class="container-fluid"> 
            <div class="row">
                    <div class="col-12">
                    <div class="card border-primary mb-3 shadow">
                        <div class="card-header"><strong>Oficinas Deshabilitadas</strong></div>
                        <div class="card-body text-primary">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="">Oficina</th>
                                        <th class="text-center">Localidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                            {% for oficina in deshabilitadas %}
                                    <tr>
                                        <td>{{ oficina['oficina'] }} </td>
                                        <td class="text-center">{{ oficina['localidad'] }} </td>
                                    </tr>
                            {% endfor %}
                                    <tr>
                                        <td class="text-center" colspan="2"><b>Cant. de Oficinas Deshabilitadas: {{deshabilitadas | length}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    {% endif %}

    <br>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary float-left shadow volver" href="{{ path('informe_oficinas_estado_habilitacion') }}">Volver</a>
            </div>
        </div>
    </div>

{% endblock %}
