{% extends 'base.html.twig' %}

{% block title %}Estadística de Turnos{% endblock %}

{% block body %}
    <h1>Estadísticas de Turnos {{ oficina }} </h1>
    <h2>Período del {{desde}} al {{hasta}}</h2>
    <br>
    {# Resumen General #}
    {% if estadisticaGeneral | length > 0 %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card border-primary mb-3" style="max-width: 35rem;">
                        <div class="card-header"><strong>Resumen del Período {{desde}} al {{hasta}}</strong></div>
                        <div class="card-body text-primary">
                            <div class="row">
                                <div class="col-sm-6 text-right">
                                    Turnos Disponibles:
                                    <br>
                                    Otorgados:
                                    <br>
                                    No Atendidos:
                                    <br>
                                    Atendidos:
                                    <br>
                                    Ausentes:
                                    <br>
                                    Rechazados:
                                    <br>
                                </div>
                                <div class="col-sm text-right">
                                    {{ estadisticaGeneral['total'] }}
                                    <br>
                                    {{ estadisticaGeneral['otorgados'] + estadisticaGeneral['rechazados_libres']}}
                                    <br>
                                    {{ estadisticaGeneral['noatendidos'] }}
                                    <br>
                                    {{ estadisticaGeneral['atendidos'] }}
                                    <br>
                                    {{ estadisticaGeneral['noasistidos'] }}
                                    <br>
                                    {{ estadisticaGeneral['rechazados_libres']}}
                                    <br>
                                </div>
                                <div class="col-sm-4 text-right" style="color:gray">
                                    &nbsp;
                                    <br>
                                    {{ ((estadisticaGeneral['otorgados'] + estadisticaGeneral['rechazados_libres']) / estadisticaGeneral['total'] * 100) | round(2)}}%
                                    <br>
                                    {{ estadisticaGeneral['noatendidos'] > 0 ? (estadisticaGeneral['noatendidos'] / estadisticaGeneral['otorgados'] * 100) | round(2)}}%
                                    <br>
                                    {{ estadisticaGeneral['atendidos'] > 0 ? (estadisticaGeneral['atendidos'] / (estadisticaGeneral['otorgados'] + estadisticaGeneral['rechazados_libres']) * 100) | round(2)}}%
                                    <br>
                                    {{ estadisticaGeneral['noasistidos'] > 0 ? (estadisticaGeneral['noasistidos'] / (estadisticaGeneral['otorgados'] + estadisticaGeneral['rechazados_libres']) * 100) | round(2)}}%
                                    <br>
                                    {{ estadisticaGeneral['rechazados_libres'] > 0 ? ((estadisticaGeneral['rechazados_libres']) / (estadisticaGeneral['otorgados'] + estadisticaGeneral['rechazados_libres']) * 100) | round(2)}}% 
                                </div>
                            </div>
                        </div>

                        <center>
                        <div class="card bg-light mb-2" style="max-width: 24rem; font-size:.85rem">
                            <div class="card-header"><strong>Total de Rechazados: {{ estadisticaGeneral['rechazados_ocupados'] + estadisticaGeneral['rechazados_libres'] }}</strong></div>
                            <div class="card-body text-primary">
                                <div class="row">
                                    <div class="col-sm-6 text-right">   
                                        Vueltos a Ocupar:
                                        <br>
                                        Libres:
                                    </div>
                                    <div class="col-sm text-right">
                                        {{ estadisticaGeneral['rechazados_ocupados'] }}
                                        <br>
                                        {{ estadisticaGeneral['rechazados_libres'] }}
                                    </div>
    
                                        <div class="col-sm-4 text-right" style="color:gray">
{#                                        {{ (estadisticaGeneral['noasistidos'] / estadisticaGeneral['otorgados'] * 100) | round(2)}}% #}
                                        <br>
{#                                        {{ (estadisticaGeneral['rechazados_ocupados'] / estadisticaGeneral['otorgados'] * 100) | round(2)}}% #}
                                    </div>
                            </div>
                          </div>  
                          <div class="card-footer text-muted">Los turnos rechazados que quedaron libres son considerados como turnos rechazados</div>                                  
                        </center>
                    </div>
                </div> 

                <div class="col-6 float-right jsChart" data-is-authenticated="{{ piechart | length > 0 ? 'true' : 'false' }}">
                    <div class="card border-primary mb-3" style="max-width: 60rem;">
                        <div class="card-header"><strong>Vista General del Período {{desde}} al {{hasta}}</strong></div>
                        <div class="card-body text-primary">
                            <center><div id="div_chart"></div></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if estadisticaSemanal | length > 0 %}
    <div class="container-fluid">
        <div class="row">   
            {# Resumen Semanal #}
            <div class="col-12">
                <div class="card border-primary mb-3" style="max-width: 90rem;">
                    <div class="card-header"><strong>Vista Semanal de Turnos</strong></div>
                    <div class="card-body text-primary">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Desde</th>
                                    <th class="text-center">Hasta</th>
                                    <th class="text-right">Disponibles</th>
                                    <th class="text-right" colspan="2">Otorgados</th>
                                    <th class="text-right" colspan="2">No Atendidos</th>
                                    <th class="text-right" colspan="2">Atendidos</th>
                                    <th class="text-right" colspan="2">Ausentes</th>
                                    <th class="text-right" colspan="2">Rechazados</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% set semanas, turnos, otorgados, noatendidos, atendidos, noasistidos, rechazados = 0, 0, 0, 0, 0, 0, 0 %}
                        {% for semana in estadisticaSemanal %}
                                {% set semanas, turnos, otorgados, noatendidos, atendidos, noasistidos, rechazados = semanas + 1, turnos + semana['total']
                                , otorgados + semana['otorgados'] + semana['rechazados_libres'], noatendidos + semana['noatendidos'], atendidos + semana['atendidos'], noasistidos + semana['noasistidos'], rechazados + semana['rechazados_libres']
                                %}
                                <tr>
                                    <td class="text-center">{{ semana['desde'] | slice(0, 10)}}</td>
                                    <td class="text-center">{{ semana['hasta'] | slice(0, 10)}}</td>
                                    <td class="text-right">{{ semana['total'] }}</td>
                                    <td class="text-right">{{ semana['otorgados'] +  semana['rechazados_libres'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ (((semana['otorgados'] + semana['rechazados_libres']) / semana['total']) * 100) | round(2) ~ '%)'}}</td>
                                    <td class="text-right">{{ semana['noatendidos'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ ((semana['noatendidos'] / (semana['otorgados'] + semana['rechazados_libres']) * 100) | round(2)) ~ '%)'}}</td>
                                    <td class="text-right">{{ semana['atendidos'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ ((semana['atendidos'] / (semana['otorgados'] + semana['rechazados_libres']) * 100) | round(2)) ~ '%)'}}</td>
                                    <td class="text-right">{{ semana['noasistidos'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ ((semana['noasistidos'] / (semana['otorgados'] + semana['rechazados_libres']) * 100) | round(2)) ~ '%)'}}</td>
                                    <td class="text-right">{{ semana['rechazados_libres'] }}</td>
                                    <td class="text-right text-secondary">{{ semana['otorgados'] > 0 ? '(' ~ ((semana['rechazados_libres'] / (semana['otorgados'] + semana['rechazados_libres']) * 100) | round(2)) ~ '%)'}}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <td class="text-center" colspan="2"><b>Cant. de Semanas: {{semanas}}</b></td>
                            <td class="text-right"><b>{{turnos}}</b></td>
                            <td class="text-right" colspan="2"><b>{{otorgados}}</b></td>
                            <td class="text-right" colspan="2"><b>{{noatendidos}}</b></td>
                            <td class="text-right" colspan="2"><b>{{atendidos}}</b></td>
                            <td class="text-right" colspan="2"><b>{{noasistidos}}</b></td>
                            <td class="text-right" colspan="2"><b>{{rechazados}}</b></td>
                        </tfoot>
                        </table>
            
                    </div>
                </div> 
            </div>
        </div>
    </div>
    {% endif %}
  
    {% if estadisticaDiaria | length > 0 %}
        {# Resumen Diario #}   
        <div class="container-fluid"> 
            <div class="row">
                    <div class="col-12">
                    <div class="card border-primary mb-3">
                        <div class="card-header"><strong>Vista Detallada de Turnos</strong></div>
                        <div class="card-body text-primary">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Desde</th>
                                        <th class="text-center">Hasta</th>
                                        <th class="text-right">Disponibles</th>
                                        <th class="text-right" colspan="2">Otorgados</th>
                                        <th class="text-right" colspan="2">No Atendidos</th>
                                        <th class="text-right" colspan="2">Atendidos</th>
                                        <th class="text-right" colspan="2">Ausentes</th>
                                        <th class="text-right" colspan="2">Rechazados</th>
                                    </tr>
                                </thead>
                                <tbody>
                            {% set dias, turnos, otorgados, noatendidos, atendidos, noasistidos, rechazados = 0, 0, 0, 0, 0, 0, 0 %}
                            {% for dia in estadisticaDiaria %}
                                    {% set dias, turnos, otorgados, noatendidos, atendidos, noasistidos, rechazados = dias + 1, turnos + dia['total']
                                    , otorgados + dia['otorgados'] + dia['rechazados_libres'], noatendidos + dia['noatendidos'], atendidos + dia['atendidos'], noasistidos + dia['noasistidos'], rechazados + dia['rechazados_libres']
                                    %}
                                    <tr>
                                        <td class="text-center">{{ dia['desde'] | slice(0, 10)}}</td>
                                        <td class="text-center">{{ dia['hasta'] | slice(0, 10)}}</td>
                                        <td class="text-right">{{ dia['total'] }}</td>
                                        <td class="text-right">{{ dia['otorgados'] + dia['rechazados_libres']}}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ (((dia['otorgados'] + dia['rechazados_libres']) / dia['total'] * 100) | round(2)) ~ '%)'}}</td>
                                        <td class="text-right">{{ dia['noatendidos'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ ((dia['noatendidos'] / (dia['otorgados'] + dia['rechazados_libres']) * 100) | round(2)) ~ '%)'}}</td>
                                        <td class="text-right">{{ dia['atendidos'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ ((dia['atendidos'] / (dia['otorgados'] + dia['rechazados_libres']) * 100) | round(2)) ~ '%)'}}</td>
                                        <td class="text-right">{{ dia['noasistidos'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ ((dia['noasistidos'] / (dia['otorgados'] + dia['rechazados_libres']) * 100) | round(2)) ~ '%)'}}</td>
                                        <td class="text-right">{{ dia['rechazados_libres'] }}</td>
                                        <td class="text-right text-secondary">{{ dia['otorgados'] > 0 ? '(' ~ ((dia['rechazados_libres'] / (dia['otorgados'] + dia['rechazados_libres']) * 100) | round(2)) ~ '%)'}}</td>
                                    </tr>
                            {% endfor %}
                                    <tr>
                                        <td class="text-center" colspan="2"><b>Cant. de Dias: {{dias}}</b></td>
                                        <td class="text-right"><b>{{turnos}}</b></td>
                                        <td class="text-right" colspan="2"><b>{{otorgados}}</td>
                                        <td class="text-right" colspan="2"><b>{{noatendidos}}</td>
                                        <td class="text-right" colspan="2"><b>{{atendidos}}</td>
                                        <td class="text-right" colspan="2"><b>{{noasistidos}}</td>
                                        <td class="text-right" colspan="2"><b>{{rechazados}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    {% endif %}

    <br>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary float-left volver" href="{{ path('estadistica_index') }}">Volver</a>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">{{ gc_draw(piechart, 'div_chart') }}</script>
{#

        document.addEventListener('DOMContentLoaded', function() {
            var jsChart = document.querySelector('.jsChart');
            var muestro = jsChart.dataset.isAuthenticated;

            if (muestro == true) {
                console.log('Muestro');
                var head = document.getElementsByTagName('head')[0];
                var script = document.createElement('script');

                script.src = "https://www.gstatic.com/charts/loader.js"
                {{ gc_draw(piechart, 'div_chart') }}
            
            }

        });    
#}

{% endblock %}     
