{#
    Procesa mensajes de tipo Flash
    Ejemplos de Uso desde el controller:
        $this->addFlash('info', 'Mensaje en modo "info" normal');
        $this->addFlash('danger-slow', 'Mensaje en modo "danger" lento');
        $this->addFlash('alert-closable', 'Mensaje en modo alert que debe ser cerrado por el usuario.');
        $this->addFlash('info-closable', 'Mensaje en modo info<br>Debe ser cerrado por el usuario.<hr>Usando el modo "raw" en <i>TWIG</i>.');
        
    Argumentos separados por guión (-). El primero debe ser una clase boostrap o css. 
{# Mensajes flash #}
<div class="base-flash-messages"  style="z-index:99;">
    {% for label, messages in app.flashes %}
    {% set tipo = label | split('-') %}
        <div class="row h-25 d-block">
        {% for message in messages %}
            {% if 'closable' in tipo %}
                <div class="col-auto text-center">
                    <div class="flashes-messages-closable alert alert-{{ tipo[0] }} alert-dismissible fade show mt-3 shadow" role="alert" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&nbsp;&times;</span>
                        </button>
                        {{ message | raw}}
                    </div>
                </div>
            {% else %}                        
                <div class="col-auto">
                    <div class="flashes-messages{{'slow' in tipo ? '-slow' : ''}} alert alert-{{ tipo[0] }} p-2 mt-3 shadow" style="display:none">{{ message }}</div>
                </div> 
            {% endif %}       
        {% endfor %}
        </div>
    {% endfor %}
</div>
