{% extends 'base.html.twig' %}

{% block title %}Editar Oficina{% endblock %}

{% block body %}
    <h1>Nuevos Turnos para {{ oficina.oficina }} ({{ oficina.localidad }})</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Oficina</th>
                <td>{{ oficina.oficina }} ({{ oficina.localidad }})</td>
            </tr>
            <tr>
                <th>Hora Inicio Atencion</th>
                <td>{{ oficina.horaInicioAtencion ? oficina.horaInicioAtencion|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Hora Fin Atencion</th>
                <td>{{ oficina.horaFinAtencion ? oficina.horaFinAtencion|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Frecuencia Atencion</th>
                <td>{{ oficina.frecuenciaAtencion }}</td>
            </tr>
            <tr>
                <th>Ultimo Turno</th>
                <td>{{ fechaHoraUltimoTurno ? fechaHoraUltimoTurno|date('d/m/Y H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="card border-primary mb-3">
        <div class="card-body text-primary">
          <h5 class="card-title">Generación de Nuevos Turnos</h5>
          <p>Este proceso creará automáticamente turnos nuevos para: <strong>{{ oficina.oficina }} ({{ oficina.localidad }}) </strong>.</p> 
          <p>Los turnos se crearán <strong>a partir del {{ aPartirde ? aPartirde|date('d/m/Y') : '' }}</strong> y por la cantidad de días que usted indique a continuación.</p>
          <p>Se crearán para todos los días de lunes a viernes (no considera feriados). Puede eliminar un día en particular para toda una localidad desde la gestión de localidades.</p>
          {{ include('oficina/_form.html.twig', {'button_label': 'Generar Turnos'}) }}
        </div>
      </div>    
    <br>
    <a  class="btn btn-secondary float-left volver" href="{{ path('oficina_index') }}">Volver a la  lista</a>

{% endblock %}
