{% extends 'base.html.twig' %}

{% block title %}Agregar Turnos{% endblock %}

{% block body %}

    <div class="container">
        <div class="card shadow">
            <div class="card-header">
                Generación Masiva de Turnos
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">{{ oficinasSeleccionadas ? 'Oficinas múltiples seleccionadas' : oficina.oficina ~ ' (' ~ oficina.localidad ~ ')' }}</h5>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="card bg-light mb-2" style="font-size: .8rem;">
                            {% if not oficinasSeleccionadas %}<div class="card-header"><strong>Datos de la Oficina</strong></div>{% endif %}
                            <div class="card-body">
                                {% if not oficinasSeleccionadas %}
                                    <div class="row">
                                        <div class="col-6 text-right">
                                                Hora Inicio Atención <br>
                                                Hora Fin Atención <br>
                                                Frecuencia Atención <br>
                                                Cantidad de Turnos por Turno <br>
                                                Ultimo Turno <br>
                                        </div>
                                        <div class="col-6">
                                            <strong>{{ oficina.horaInicioAtencion ? oficina.horaInicioAtencion|date('H:i') : '' }} <br>
                                                    {{ oficina.horaFinAtencion ? oficina.horaFinAtencion|date('H:i') : '' }} <br>
                                                    {{ oficina.frecuenciaAtencion }} <br>
                                                    {{ oficina.cantidadTurnosxturno }} <br>
                                                    {{ fechaHoraUltimoTurno ? fechaHoraUltimoTurno|date('d/m/Y H:i') : '' }} </strong><br>
                                        </div>
                                    </div>
                                {% else %}
                                    <p class="text-justify">La configuración que defina a continuación se aplicará de igual forma a las <strong>{{oficinasSeleccionadas | length}} oficinas que ha seleccionado</strong>.</p>
                                    <p class="text-justify">Se considerán los parámetros de hora de inicio, hora de fin y frecuencia para cada Oficina en particular.</p>
                                    <p class="text-justify">La fecha de inicio será a partir del último turno para cada oficina en particular.</p>
                                {% endif %}

                                <br>
                                <p class="text-center mb-2 mt-0"><a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="font-size: .8rem;"><strong>Descripción del Proceso de Generación</strong></a></p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        {% if not oficinasSeleccionadas %}   
                                            <p class="card-text text-justify">Los turnos se crean a partir de la fecha indicada. Por defecto se propone el día siguiente al último existente en la agenda de la oficina. Es decir <strong>a partir del {{ aPartirde ? aPartirde|date('d/m/Y') : '' }}</strong> y por la cantidad de días que usted indique a continuación. </p>
                                            <p class="card-text text-justify">Puede optar por indicar un día de inicio cualquiera. Por ejemplo puede añadir turnos a días generados previamente.</p>
                                        {% endif %}
                                            <p class="card-text text-justify">Puede optar entre generar turnos hasta un día en particular o por una cantidad de días corridos a partir de la fecha de inicio.</p>
                                            <p class="card-text text-justify">Puede optar por establecer los minutos de desplazamiento con respecto a la hora de inicio de atención o no.</p>
                                            <p class="card-text text-justify">Los turnos se crean para todos los días de lunes a viernes con excepción de los días feriados indicados. Puede eliminar un día en particular para toda una localidad desde la gestión de localidades o desde este mismo módulo para una Oficina en particular.</p>
                                        {% if not oficinasSeleccionadas %}                
                                            <p class="card-text text-justify">Por defecto la generación admite más de un mismo turno en el mismo horario. <strong>Si ya existen turnos para el mismo día y horario este proceso añadirá nuevos turnos</strong>. Si usted no desea que sea así asegúrse de marcar <i>"Sólo un turno por rango horario"</i>.</p>
                                        {% endif %}
                                        <p class="card-text text-center"><strong>Esta generación de turnos puede deshacerse en caso de ser necesario. Tenga en cuenta que sólo la última generación de turnos se puede deshacer siempre que no cierre la sesión a nivel de aplicación.</strong></p>
                                    </div>
                                </div>                
                            </div>
                        </div>       
                    </div>
                </div> 

      
                {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
    
                    <div class="row">
                        <div class="col-4">
                            <fieldset class="border p-2">
                                <legend class="w-auto text-primary">Desde</legend>
                                {{ form_row(form.fechaInicio) }}
                            </fieldset>
                        </div>
                        <div class="col-8">
                            <fieldset class="border p-2">
                                <legend class="w-auto text-primary">Hasta</legend>
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_row(form.fechaFin) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.cantidadDias) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                <fieldset class="border p-2">
                    <legend class="w-auto text-primary">Criterios de Generación</legend>
                    <div class="row">
                        <div class="col-3">
                            {{ form_row(form.minutosDesplazamiento) }}
                        </div>
                        <div class="col-9" id="multiplicadorTurnos">
                            {{ form_row(form.multiplicadorTurnos) }}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="border p-2 shadow bg-light">
                    <legend class="w-auto text-primary">Feriados y días no laborables</legend>
                    <div class="row">
                        <div class="col-12">
                            {% if not oficinasSeleccionadas %}   
                                <small class="form-text"><strong>Feriados Nacionales y Locales para los que no se generarán turnos:</strong></small>
                                <small class="form-text text-muted ml-3 mb-3">{{ feriados }}</small>
                            {% else %}
                                <small class="form-text"><strong>Feriados Nacionales para los que no se generarán turnos:</strong></small>
                                <small class="form-text text-muted ml-3">{{ feriados }}</small>
                                <small class="form-text ml-3 mb-3"><strong>A los que se añadirán los feriados locales de cada localidad seleccionada</strong></small>
                            {% endif %}
                            {{ form_row(form.feriados) }}
                        </div>
                    </div>
                </fieldset>
                <div class="row mt-4">
                    <div class="col-4 float-left"><a  class="btn btn-secondary shadow volver" href="{{ path('oficina_index') }}">Volver a la  lista</a></div>
                    <div class="col-4"></div>
                    <div class="col-4 float-right">{{ form_end(form) }}</div>
                </div>

    
            </div>
        </div>  
        
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $(document).ready(function () {
                    $('#add_turnos_fechaInicio').datepicker({
                        format: "dd/mm/yyyy",
                        language: "es",
                        daysOfWeekDisabled: "0,6",
                        daysOfWeekHighlighted: "0",
                        todayHighlight: true,
                        autoclose: true,
                        todayBtn: true,
                    });

                    $('#add_turnos_feriados').datepicker({
                        format: "dd/mm/yyyy",
                        language: "es",
                        daysOfWeekDisabled: "0,6",
                        daysOfWeekHighlighted: "0",
                        todayHighlight: true,
                        autoclose: false,
                        clearBtn: true,
                        todayBtn: true,
                        multidate: true
                    });

                    $('#add_turnos_fechaFin').datepicker({
                        format: "dd/mm/yyyy",
                        language: "es",
                        daysOfWeekDisabled: "0,6",
                        daysOfWeekHighlighted: "0",
                        todayHighlight: true,
                        autoclose: true,
                        todayBtn: true,
                    });

                    if ( {{oficinasSeleccionadas | length}} > 0) {
                        $('#add_turnos_fechaInicio').val('');
                        $('#add_turnos_fechaInicio').attr('disabled', true);
                    }

                    $('#add_turnos_feriados').on('paste', function(e) {
                        this.value = new String(e.originalEvent.clipboardData.getData('text') || '')
                    })
        
            })
            
            $('#add_turnos_fechaFin').change(function() {
                $('#add_turnos_cantidadDias').val('')
            })
            $('#add_turnos_cantidadDias').change(function() { 
                $('#add_turnos_fechaFin').val('')
            })

            var ultimoTurno = "{{ fechaHoraUltimoTurno ? fechaHoraUltimoTurno|date('d/m/Y H:i') : '' }}"
            var oficinasSeleccionadas = "{{ oficinasSeleccionadas ? 1 : 0 }}"
            if (oficinasSeleccionadas == '1') {
                $('#add_turnos_fechaInicio_help').html('Deshabilitado por selección múltiple');
            }
            else {
                $('#add_turnos_fechaInicio_help').html('Ultimo Turno creado el ' + ultimoTurno);
            }

        });
    </script>
{% endblock %}
