{% extends 'base.html.twig' %}

{% block title %}Gestión de Oficina{% endblock %}

{% block body %}
    <h1>Lista de Oficinas</h1>
    <div class="top-listas">
        {% if is_granted('ROLE_EDITOR') %} 
            <div class="float-right boton">
                <a class="btn btn-primary" href="{{ path('oficina_new') }}">Crear Nueva Oficina</a>
            </div>
        {% endif %}
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="row">
                <div class="col-8"></div>
                <div class="col-4 text-right">
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <form id="frmOficinas" method="post" action="{{ path('oficina_addTurnosOficinas') }}">
        {% if is_granted('ROLE_EDITOR') %} 
            <a class="btn btn-primary float-left" href="#" onclick="document.getElementById('frmOficinas').submit();">Crear Nuevos Turnos para las Oficinas Seleccionadas</a>
            &nbsp;&nbsp;
            <a class="btn btn-primary" href="{{ path('oficina_deshacer') }}">Deshace Ultima Generación de Turnos</a>    
        {% endif %}
        <div class="table-responsive">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-1 ancho-1"><input type="checkbox" id="selectAll" /></th>
                        <th class="col-1 ancho-1">ID</th>
                        <th class="col-4 ancho-5 text-center">Oficina</th>
                        <th class="col-2 text-center">Localidad</th>
                        <th class="col-1 text-center ancho-2">Inicio</th>
                        <th class="col-1 text-center ancho-2">Fin</th>
                        <th class="col-1 text-center">Frecuencia</th>
                        <th class="text-center">Habilitada</th>
                        <th class="col-1 text-center">Último Turno</th>
                        {% if is_granted('ROLE_EDITOR') %} 
                            <th class="col-1 text-center">Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {# Lee y muestra todos los mensajes flash #}
                {% for oficina in oficinas %}
                    <tr>
                        <td class="col-1 ancho-1"><input type="checkbox" name="oficinaID[]" value="{{ oficina.id }}"></td>
                        <td class="col-1 ancho-1">{{ oficina.id }}</td>
                        <td class="col-4 ancho-5">{{ oficina.oficina }}</td>
                        <td class="col-2">{{ oficina.localidad }}</td>
                        <td class="col-1 text-center ancho-2">{{ oficina.horaInicioAtencion ? oficina.horaInicioAtencion|date('H:i') : '' }}</td>
                        <td class="col-1 text-center ancho-2">{{ oficina.horaFinAtencion ? oficina.horaFinAtencion|date('H:i') : '' }}</td>
                        <td class="col-1 text-center ancho-3">{{ oficina.frecuenciaAtencion }}</td>
                        <td class="col-1 text-center ancho-2">{{ oficina.habilitada ? '<i class="fas fa-check"></i>' : '' }} </td>
                        <td class="col-1 text-center ancho-3">{{ oficina.ultimoTurno ? oficina.ultimoTurno|date('Y-m-d H:i') : '' }}</td>
                        {% if is_granted('ROLE_EDITOR') %} 
                            <td class="col-1 table-bordered table-secondary d-print-none">
                                <a href="{{ path('oficina_show', {'id': oficina.id}) }}" title="Ver"><i class="fas fa-eye"></i></a>
                                &nbsp;&nbsp;
                                <a href="{{ path('oficina_edit', {'id': oficina.id}) }}" title="Editar"><i class="fas fa-pen"></i></a>
                                &nbsp;&nbsp;
                                <a href="{{ path('oficina_addTurnos', {'id': oficina.id}) }}" title="Crear Nuevos Turnos para {{ oficina.oficina }} ({{oficina.localidad}})"><i class="far fa-calendar-plus"></i></a>
                                &nbsp;&nbsp;
                                <a href="{{ path('borraDiaAgendaTurnosbyOficina', {'id': oficina.id}) }}" title="Elimina un día de la Agenda de {{ oficina.oficina }} ({{oficina.localidad}})"><i class="far fa-calendar-minus"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">No hay registros</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="float-right">
                {{ knp_pagination_render(oficinas) }}
            </div>
            <div class="float-left blockquote-footer">
                Viendo {{ oficinas.getPaginationData()['currentItemCount'] < oficinas.getPaginationData()['numItemsPerPage'] ? oficinas.getPaginationData()['currentItemCount'] : oficinas.getPaginationData()['numItemsPerPage'] }} oficinas de un total de {{ oficinas.getTotalItemCount }}
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $(document).ready(function() {          
                $(".alert").delay(3500).slideUp(2000);       
                      
                $('#selectAll').click(function(e){
                    var table= $(e.target).closest('table');
                    $('td input:checkbox',table).prop('checked',this.checked);
                });
            });
        });
    </script>  
    
{% endblock %}     
