{% extends 'base.html.twig' %}

{% block title %}Gestión de Oficina{% endblock %}

{% block body %}
    <h1>Gestión de Oficinas</h1>
    <div class="top-listas">
        {% if is_granted('ROLE_EDITOR') %} 
            <div id="botonera-oficina" class="row" style="display: none;">
                <div class="col-12">
                    <div class="float-right boton">
                        <a id="creacion-masiva" class="btn btn-primary" href="#">Creación Masiva Turnos</a>
                        &nbsp;&nbsp;
                        <a class="btn btn-primary" href="{{ path('oficina_deshacer') }}">Deshacer Última Creación de Turnos</a>
                        &nbsp;&nbsp;
                        <a class="btn btn-primary" href="{{ path('oficina_new') }}">Crear Nueva Oficina</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="row">
                <div class="col-8"></div>
                <div class="col-4 text-right">
                    <div class="flashes-messages alert alert-{{ label }}">{{ message }}</div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
		<div class="col-12">
			<div id="oficinaList">
				<div class="d-flex justify-content-center">
					<div class="spinner-border m-5" role="status">
						<span class="sr-only">Cargando...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {        
            $(".alert").delay(3500).slideUp(2000);       

            var grillaOficinas = $('#oficinaList').initDataTables( {{ datatable_settings(datatable) }}, {
                dom: "<'row' <'#busqueda.col-sm-2 text-left'f><'col-sm-2 text-left'B><'col-sm-8 text-right'i><'col-sm-12' tr>><'row' <'col-sm-6'l><'col-sm-6 text-right'p>>",                                        
                searching: true,
                columnDefs: [ {
                    targets:   0,
                    orderable: false,
                    className: 'select-checkbox',                        
                    data: null,
                    defaultContent: '',
                } ],
                select: {
                    style:    'multi',
                    selector: 'td:first-child'
                },
                buttons: [
                    'selectAll',
                    'selectNone'
                ],
                language: {
                    "url": "{{ asset('/static/traslation_dt_es.json') }}"
                }
            }).then(function (dt) {
                dt.on('init', function(settings, json) {
                    $('#botonera-oficina').show();
                    $('#creacion-masiva').click(function() {
                        // Chequeo que haya dos oficinas seleccionadas como mínimo
                        if(dt.rows({ selected: true}).count() > 1) {
                            // Obtengo los ids seleccionados
                            var idSeleccionados = dt.rows({ selected: true}).ids().toArray();
                            // Invoco al controller
                            location.href = Routing.generate('oficina_addTurnosOficinas', {'ids': JSON.stringify(idSeleccionados)});
                        } else {
                            alert('Debe seleccionar por lo menos 2 oficinas');
                        }
                    });
                });
            });            
        });
    </script>  
    
{% endblock %}     
