{% extends 'base.html.twig' %}

{% block title %}Oficina{% endblock %}

{% block body %}
    <h1>Oficina</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ oficina.id }}</td>
            </tr>
            <tr>
                <th>Oficina</th>
                <td>{{ oficina.oficina }} ({{ oficina.localidad }})</td>
            </tr>
            <tr>
                <th>Hora Inicio Atención</th>
                <td>{{ oficina.horaInicioAtencion ? oficina.horaInicioAtencion|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Hora Fin Atención</th>
                <td>{{ oficina.horaFinAtencion ? oficina.horaFinAtencion|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Teléfono de Contacto</th>
                <td>{{ oficina.telefono }}</td>
            </tr>
            <tr>
                <th>Frecuencia Atención</th>
                <td>{{ oficina.frecuenciaAtencion }}</td>
            </tr>
            <tr>
                <th>Cantidad de Turnos por Turno</th>
                <td>{{ oficina.cantidadTurnosxturno }}</td>
            </tr>
            <tr>
                <th>Ampliar Agenda Automáticamente</th>
                <td>{{ oficina.autoExtend ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Permitir que el usuario administre la Agenda </th>
                <td>{{ oficina.autoGestion ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Habilitada</th>
                <td>{{ oficina.habilitada ? 'Si' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary float-left shadow volver" href="#" onclick="history.back(); return false;">Volver a la Lista</a>
    <a class="btn btn-secondary float-left shadow volver" href="{{ path('oficina_edit', {'id': oficina.id}) }}">Editar</a>
    {{ include('oficina/_delete_form.html.twig') }}
{% endblock %}
