{% extends 'base.html.twig' %}

{% block title %}Gestión de Localidades{% endblock %}

{% block body %}
	<h1>Lista de Localidades</h1>
	<div class="top-listas">
		{% if is_granted('ROLE_EDITOR') %}
			<div class="float-right boton">
				<a class="btn btn-primary" href="{{ path('localidad_new') }}">Crear Nueva Localidad</a>
			</div>
		{% endif %}		
	</div>
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="row">
				<div class="col-8"></div>
				<div class="col-4 text-right">
					<div class="alert alert-{{ label }}">{{ message }}</div>
				</div>
			</div>
		{% endfor %}
	{% endfor %}

	<div class="table-responsive">
		<table class="table table-fixed">
			<thead>
				<tr>
					<th scope="col" class="col-1">ID</th>
					<th scope="col" class="col-5">Localidad</th>
					<th scope="col" class="col-5">Circunscripción</th>
					{% if is_granted('ROLE_EDITOR') %}
						<th scope="col" class="col-1">Acciones</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for localidad in localidades %}
					{# Lee y muestra todos los mensajes flash #}
					<tr>
						<td scope="row" class="col-1">{{ localidad.id }}</td>
						<td class="col-5">{{ localidad.localidad }}</td>
						<td class="col-5">{{ localidad.circunscripcion }}</td>
						{% if is_granted('ROLE_EDITOR') %}
							<td class="table-bordered table-secondary text-center d-print-none col-1">
								&nbsp;&nbsp;
								<a href="{{ path('localidad_show', {'id': localidad.id}) }}" title="Ver">
									<i class="fas fa-eye"></i>
								</a>
								&nbsp;&nbsp;
								<a href="{{ path('localidad_edit', {'id': localidad.id}) }}" title="Editar">
									<i class="fas fa-pen"></i>
								</a>
								&nbsp;&nbsp;
								<a href="{{ path('borraDiaAgendaTurnosbyLocalidad', {'id': localidad.id}) }}" title="Eliminar un día de la Agenda de todas las oficinas {{ localidad.localidad }}">
									<i class="far fa-calendar-minus"></i>
								</a>
							</td>
						{% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no hay localidades</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="float-right">
            {{ knp_pagination_render(localidades) }}
        </div>
        <div class="float-left blockquote-footer">
            Viendo {{ localidades.getPaginationData()['currentItemCount'] < localidades.getPaginationData()['numItemsPerPage'] ? localidades.getPaginationData()['currentItemCount'] : localidades.getPaginationData()['numItemsPerPage'] }} localidades de un total de {{ localidades.getTotalItemCount }}
        </div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(function () {
			$(document).ready(function () {
				$(".alert").delay(3500).slideUp(2000);
			});
		});
	</script>

{% endblock %}
