{% extends 'base.html.twig' %}

{% block title %}Gestión de Localidades{% endblock %}

{% block body %}
	<h1>Gestión de Localidades</h1>
	<div class="top-listas">
		{% if is_granted('ROLE_EDITOR') %}
			<div class="row">
				<div class="col-12">
					<div class="float-right boton">
						<a class="btn btn-primary" href="{{ path('localidad_new') }}">Crear Nueva Localidad</a>
					</div>
				</div>
			</div>
		{% endif %}		
	</div>
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="row">
				<div class="col-8"></div>
				<div class="col-4 text-right">
					<div class="flashes-messages alert alert-{{ label }}">{{ message }}</div>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
	<div class="row">
		<div class="col-12">
			<div id="localidadList">
				<div class="d-flex justify-content-center">
					<div class="spinner-border m-5" role="status">
						<span class="sr-only">Cargando...</span>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
	<script>
		$(function () {
			var grillaLocalidades = $('#localidadList').initDataTables( {{ datatable_settings(datatable) }}, {
				dom: "B<'row' <'#busqueda.col-sm-1 text-left'f><'col-sm-11 text-right'i><'col-sm-12' tr>><'row' <'col-sm-6'l><'col-sm-6 text-right'p>>",
                buttons: [],
                searching: true
			});
		});
	</script>

{% endblock %}
