{% extends 'base.html.twig' %}

{% block title %}Localidad{% endblock %}

{% block body %}
    <h1>Localidad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ localidad.id }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ localidad.localidad }}</td>
            </tr>
            <tr>
                <th>Circunscripcion</th>
                <td>{{ localidad.circunscripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary float-left shadow volver" href="#" onclick="history.back(); return false;">Volver a la Lista</a>
    <a class="btn btn-secondary float-left shadow volver" href="{{ path('localidad_edit', {'id': localidad.id}) }}">Editar</a>
    {{ include('localidad/_delete_form.html.twig') }}
{% endblock %}
